.theDate{
	font-size: 46px;
	color: #444;
	font-weight:400;
}

.d1-1{
	transform:scale(2.35,1.5);
	-webkit-transform:scale(2.35,1.5);
	-moz-transform:scale(2.35,1.5);
	-ms-transform:scale(2.35,1.5); 
	-o-transform:scale(2.35,1.5);
}

.d1-2, .d1-3, .d1-4, .d1-5, .d1-6, .d1-8, .d1-9{
	transform:scale(1.94,1.5);
	-webkit-transform:scale(1.94,1.5);
	-moz-transform:scale(1.94,1.5);
	-ms-transform:scale(1.94,1.5); 
	-o-transform:scale(1.94,1.5);
}

.d1-7{
	transform:scale(2.2,1.5);
	-webkit-transform:scale(2.2,1.5);
	-moz-transform:scale(2.2,1.5);
	-ms-transform:scale(2.2,1.5); 
	-o-transform:scale(2.2,1.5);
}

.d1-10, .d1-12, .d1-13, .d1-14, .d1-15, .d1-16, .d1-18, .d1-19{
	transform:scale(1.55,1.5);
	-webkit-transform:scale(1.55,1.5);
	-moz-transform:scale(1.55,1.5);
	-ms-transform:scale(1.55,1.5); 
	-o-transform:scale(1.55,1.5);
}

.d1-11{
	transform:scale(1.7,1.5);
	-webkit-transform:scale(1.7,1.5);
	-moz-transform:scale(1.7,1.5);
	-ms-transform:scale(1.7,1.5); 
	-o-transform:scale(1.7,1.5);
}

.d1-17{
	transform:scale(1.67,1.5);
	-webkit-transform:scale(1.67,1.5);
	-moz-transform:scale(1.67,1.5);
	-ms-transform:scale(1.67,1.5); 
	-o-transform:scale(1.67,1.5);
}

.d1-20, .d1-22, .d1-23, .d1-24, .d1-25, .d1-26, .d1-28, .d1-29{
	transform:scale(1.38,1.5);
	-webkit-transform:scale(1.38,1.5);
	-moz-transform:scale(1.38,1.5);
	-ms-transform:scale(1.38,1.5); 
	-o-transform:scale(1.38,1.5);
}

.d1-21{
	transform:scale(1.54,1.5);
	-webkit-transform:scale(1.54,1.5);
	-moz-transform:scale(1.54,1.5);
	-ms-transform:scale(1.54,1.5); 
	-o-transform:scale(1.54,1.5);
}

.d1-27{
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5); 
	-o-transform:scale(1.5,1.5);
}

.d1-30{
	transform:scale(1.4,1.5);
	-webkit-transform:scale(1.4,1.5);
	-moz-transform:scale(1.4,1.5);
	-ms-transform:scale(1.4,1.5); 
	-o-transform:scale(1.4,1.5);
}

.d1-31{
	transform:scale(1.6,1.5);
	-webkit-transform:scale(1.6,1.5);
	-moz-transform:scale(1.6,1.5);
	-ms-transform:scale(1.6,1.5); 
	-o-transform:scale(1.6,1.5);
}


/*Sevens are wider than Ones but narrower than rhe rest*/



.d7-1{
	transform:scale(2.2,1.5);
	-webkit-transform:scale(2.2,1.5);
	-moz-transform:scale(2.2,1.5);
	-ms-transform:scale(2.2,1.5); 
	-o-transform:scale(2.2,1.5);
}

.d7-2, .d7-3, .d7-4, .d7-5, .d7-6, .d7-8, .d7-9{
	transform:scale(1.8,1.5);
	-webkit-transform:scale(1.8,1.5);
	-moz-transform:scale(1.8,1.5);
	-ms-transform:scale(1.8,1.5); 
	-o-transform:scale(1.8,1.5);
}

.d7-7{
	transform:scale(2,1.5);
	-webkit-transform:scale(2,1.5);
	-moz-transform:scale(2,1.5);
	-ms-transform:scale(2,1.5); 
	-o-transform:scale(2,1.5);
}

.d7-10, .d7-12, .d7-13, .d7-14, .d7-15, .d7-16, .d7-18, .d7-19{
	transform:scale(1.45,1.5);
	-webkit-transform:scale(1.45,1.5);
	-moz-transform:scale(1.45,1.5);
	-ms-transform:scale(1.45,1.5); 
	-o-transform:scale(1.45,1.5);
}

.d7-11{
	transform:scale(1.7,1.5);
	-webkit-transform:scale(1.7,1.5);
	-moz-transform:scale(1.7,1.5);
	-ms-transform:scale(1.7,1.5); 
	-o-transform:scale(1.7,1.5);
}

.d7-17{
	transform:scale(1.6,1.5);
	-webkit-transform:scale(1.6,1.5);
	-moz-transform:scale(1.6,1.5);
	-ms-transform:scale(1.6,1.5); 
	-o-transform:scale(1.6,1.5);
}

.d7-20, .d7-22, .d7-23, .d7-24, .d7-25, .d7-26, .d7-28, .d7-29{
	transform:scale(1.3,1.5);
	-webkit-transform:scale(1.3,1.5);
	-moz-transform:scale(1.3,1.5);
	-ms-transform:scale(1.3,1.5); 
	-o-transform:scale(1.3,1.5);
}

.d7-21{
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5); 
	-o-transform:scale(1.5,1.5);
}

.d7-27{
	transform:scale(1.4,1.5);
	-webkit-transform:scale(1.4,1.5);
	-moz-transform:scale(1.4,1.5);
	-ms-transform:scale(1.4,1.5); 
	-o-transform:scale(1.4,1.5);
}

.d7-30{
	transform:scale(1.3,1.5);
	-webkit-transform:scale(1.3,1.5);
	-moz-transform:scale(1.3,1.5);
	-ms-transform:scale(1.3,1.5); 
	-o-transform:scale(1.3,1.5);
}

.d7-31{
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5); 
	-o-transform:scale(1.5,1.5);
}



/*Tens and Twelves have that pesky One and ruin things for everyone*/



.d10-1, .d12-1{
	transform:scale(1.55,1.5);
	-webkit-transform:scale(1.55,1.5);
	-moz-transform:scale(1.55,1.5);
	-ms-transform:scale(1.55,1.5); 
	-o-transform:scale(1.55,1.5);
}

.d10-2, .d10-3, .d10-4, .d10-5, .d10-6, .d10-8, .d10-9, .d12-2, .d12-3, .d12-4, .d12-5, .d12-6, .d12-8, .d12-9{
	transform:scale(1.38,1.5);
	-webkit-transform:scale(1.38,1.5);
	-moz-transform:scale(1.38,1.5);
	-ms-transform:scale(1.38,1.5); 
	-o-transform:scale(1.38,1.5);
}

.d10-7, .d12-7{
	transform:scale(1.53,1.5);
	-webkit-transform:scale(1.53,1.5);
	-moz-transform:scale(1.53,1.5);
	-ms-transform:scale(1.53,1.5); 
	-o-transform:scale(1.53,1.5);
}

.d10-10, .d10-12, .d10-13, .d10-14, .d10-15, .d10-16, .d10-18, .d10-19, .d12-10, .d12-12, .d12-13, .d12-14, .d12-15, .d12-16, .d12-18, .d12-19{
	transform:scale(1.14,1.5);
	-webkit-transform:scale(1.14,1.5);
	-moz-transform:scale(1.14,1.5);
	-ms-transform:scale(1.14,1.5); 
	-o-transform:scale(1.14,1.5);
}

.d10-11, .d12-11{
	transform:scale(1.28,1.5);
	-webkit-transform:scale(1.28,1.5);
	-moz-transform:scale(1.28,1.5);
	-ms-transform:scale(1.28,1.5); 
	-o-transform:scale(1.28,1.5);
}

.d10-17, .d12-17{
	transform:scale(1.25,1.5);
	-webkit-transform:scale(1.25,1.5);
	-moz-transform:scale(1.25,1.5);
	-ms-transform:scale(1.25,1.5); 
	-o-transform:scale(1.25,1.5);
}


.d10-20, .d10-22, .d10-23, .d10-24, .d10-25, .d10-26, .d10-28, .d10-29, .d12-20, .d12-22, .d12-23, .d12-24, .d12-25, .d12-26, .d12-28, .d12-29{
	transform:scale(1.05,1.5);
	-webkit-transform:scale(1.05,1.5);
	-moz-transform:scale(1.05,1.5);
	-ms-transform:scale(1.05,1.5); 
	-o-transform:scale(1.05,1.5);
	margin-left:-2px;
}

.d10-27, .d12-27{
	transform:scale(1.12,1.5);
	-webkit-transform:scale(1.12,1.5);
	-moz-transform:scale(1.12,1.5);
	-ms-transform:scale(1.12,1.5); 
	-o-transform:scale(1.12,1.5);
}

.d10-21, .d12-21{
	transform:scale(1.16,1.5);
	-webkit-transform:scale(1.16,1.5);
	-moz-transform:scale(1.16,1.5);
	-ms-transform:scale(1.16,1.5); 
	-o-transform:scale(1.16,1.5);
}


.d10-30, .d12-30{
	transform:scale(1.04,1.5);
	-webkit-transform:scale(1.04,1.5);
	-moz-transform:scale(1.04,1.5);
	-ms-transform:scale(1.04,1.5); 
	-o-transform:scale(1.04,1.5);
}

.d10-31, .d12-31{
	transform:scale(1.16,1.5);
	-webkit-transform:scale(1.16,1.5);
	-moz-transform:scale(1.16,1.5);
	-ms-transform:scale(1.16,1.5); 
	-o-transform:scale(1.16,1.5);
}


/*Elevens are made of narrow Ones that need special kerning*/



.d11-1{
	transform:scale(1.77,1.5);
	-webkit-transform:scale(1.77,1.5);
	-moz-transform:scale(1.77,1.5);
	-ms-transform:scale(1.77,1.5); 
	-o-transform:scale(1.77,1.5);
}

.d11-2, .d11-3, .d11-4, .d11-5, .d11-6, .d11-8, .d11-9{
	transform:scale(1.53,1.5);
	-webkit-transform:scale(1.53,1.5);
	-moz-transform:scale(1.53,1.5);
	-ms-transform:scale(1.53,1.5); 
	-o-transform:scale(1.53,1.5);
}

.d11-7{
	transform:scale(1.7,1.5);
	-webkit-transform:scale(1.7,1.5);
	-moz-transform:scale(1.7,1.5);
	-ms-transform:scale(1.7,1.5); 
	-o-transform:scale(1.7,1.5);
}

.d11-10, .d11-12, .d11-13, .d11-14, .d11-15, .d11-16, .d11-18, .d11-19{
	transform:scale(1.27,1.5);
	-webkit-transform:scale(1.27,1.5);
	-moz-transform:scale(1.27,1.5);
	-ms-transform:scale(1.27,1.5); 
	-o-transform:scale(1.27,1.5);
}

.d11-11{
	transform:scale(1.44,1.5);
	-webkit-transform:scale(1.44,1.5);
	-moz-transform:scale(1.44,1.5);
	-ms-transform:scale(1.44,1.5); 
	-o-transform:scale(1.44,1.5);
}

.d11-17{
	transform:scale(1.37,1.5);
	-webkit-transform:scale(1.37,1.5);
	-moz-transform:scale(1.37,1.5);
	-ms-transform:scale(1.37,1.5); 
	-o-transform:scale(1.37,1.5);
}

.d11-20, .d11-22, .d11-23, .d11-24, .d11-25, .d11-26, .d11-28, .d11-29{
	transform:scale(1.15,1.5);
	-webkit-transform:scale(1.15,1.5);
	-moz-transform:scale(1.15,1.5);
	-ms-transform:scale(1.15,1.5); 
	-o-transform:scale(1.15,1.5);
}

.d11-21{
	transform:scale(1.3,1.5);
	-webkit-transform:scale(1.3,1.5);
	-moz-transform:scale(1.3,1.5);
	-ms-transform:scale(1.3,1.5); 
	-o-transform:scale(1.3,1.5);
}

.d11-27{
	transform:scale(1.25,1.5);
	-webkit-transform:scale(1.25,1.5);
	-moz-transform:scale(1.25,1.5);
	-ms-transform:scale(1.25,1.5); 
	-o-transform:scale(1.25,1.5);
}

.d11-30{
	transform:scale(1.15,1.5);
	-webkit-transform:scale(1.15,1.5);
	-moz-transform:scale(1.15,1.5);
	-ms-transform:scale(1.15,1.5); 
	-o-transform:scale(1.15,1.5);
}

.d11-31{
	transform:scale(1.3,1.5);
	-webkit-transform:scale(1.3,1.5);
	-moz-transform:scale(1.3,1.5);
	-ms-transform:scale(1.3,1.5); 
	-o-transform:scale(1.3,1.5);
}

/*All the rest -- Nice, consistent footprints for 2345689*/

.d2-1, .d3-1, .d4-1, .d5-1, .d6-1, .d8-1, .d9-1{
	transform:scale(1.9,1.5);
	-webkit-transform:scale(1.9,1.5);
	-moz-transform:scale(1.9,1.5);
	-ms-transform:scale(1.9,1.5); 
	-o-transform:scale(1.9,1.5);
}

.d2-2, .d2-3, .d2-4, .d2-5, .d2-6, .d2-8, .d2-9,
.d3-2, .d3-3, .d3-4, .d3-5, .d3-6, .d3-8, .d3-9,
.d4-2, .d4-3, .d4-4, .d4-5, .d4-6, .d4-8, .d4-9,
.d5-2, .d5-3, .d5-4, .d5-5, .d5-6, .d5-8, .d5-9,
.d6-2, .d6-3, .d6-4, .d6-5, .d6-6, .d6-8, .d6-9,
.d8-2, .d8-3, .d8-4, .d8-5, .d8-6, .d8-8, .d8-9,
.d9-2, .d9-3, .d9-4, .d9-5, .d9-6, .d9-8, .d9-9{
	transform:scale(1.7,1.5);
	-webkit-transform:scale(1.7,1.5);
	-moz-transform:scale(1.7,1.5);
	-ms-transform:scale(1.7,1.5); 
	-o-transform:scale(1.7,1.5);
	margin-left:1px;
}

.d2-7, .d3-7, .d4-7, .d5-7, .d6-7, .d8-7, .d9-7{
	transform:scale(1.83,1.5);
	-webkit-transform:scale(1.83,1.5);
	-moz-transform:scale(1.83,1.5);
	-ms-transform:scale(1.83,1.5); 
	-o-transform:scale(1.83,1.5);
}

.d2-10, .d2-12, .d2-13, .d2-14, .d2-15, .d2-16, .d2-18, .d2-19,
.d3-10, .d3-12, .d3-13, .d3-14, .d3-15, .d3-16, .d3-18, .d3-19,
.d4-10, .d4-12, .d4-13, .d4-14, .d4-15, .d4-16, .d4-18, .d4-19,
.d5-10, .d5-12, .d5-13, .d5-14, .d5-15, .d5-16, .d5-18, .d5-19,
.d6-10, .d6-12, .d6-13, .d6-14, .d6-15, .d6-16, .d6-18, .d6-19,
.d8-10, .d8-12, .d8-13, .d8-14, .d8-15, .d8-16, .d8-18, .d8-19,
.d9-10, .d9-12, .d9-13, .d9-14, .d9-15, .d9-16, .d9-18, .d9-19{
	transform:scale(1.34,1.5);
	-webkit-transform:scale(1.34,1.5);
	-moz-transform:scale(1.34,1.5);
	-ms-transform:scale(1.34,1.5); 
	-o-transform:scale(1.34,1.5);
}

.d2-11, .d3-11, .d4-11, .d5-11, .d6-11, .d8-11, .d9-11{
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5); 
	-o-transform:scale(1.5,1.5);
}

.d2-17, .d3-17, .d4-17, .d5-17, .d6-17, .d8-17, .d9-17{
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5); 
	-o-transform:scale(1.5,1.5);
}

.d2-20, .d2-22, .d2-23, .d2-24, .d2-25, .d2-26, .d2-28, .d2-29,
.d3-20, .d3-22, .d3-23, .d3-24, .d3-25, .d3-26, .d3-28, .d3-29,
.d4-20, .d4-22, .d4-23, .d4-24, .d4-25, .d4-26, .d4-28, .d4-29,
.d5-20, .d5-22, .d5-23, .d5-24, .d5-25, .d5-26, .d5-28, .d5-29,
.d6-20, .d6-22, .d6-23, .d6-24, .d6-25, .d6-26, .d6-28, .d6-29,
.d8-20, .d8-22, .d8-23, .d8-24, .d8-25, .d8-26, .d8-28, .d8-29,
.d9-20, .d9-22, .d9-23, .d9-24, .d9-25, .d9-26, .d9-28, .d9-29{
	transform:scale(1.24,1.5);
	-webkit-transform:scale(1.24,1.5);
	-moz-transform:scale(1.24,1.5);
	-ms-transform:scale(1.24,1.5); 
	-o-transform:scale(1.24,1.5);
	margin-left:2px;
}

.d2-21, .d3-21, .d4-21, .d5-21, .d6-21, .d8-21, .d9-21{
	transform:scale(1.37,1.5);
	-webkit-transform:scale(1.37,1.5);
	-moz-transform:scale(1.37,1.5);
	-ms-transform:scale(1.37,1.5); 
	-o-transform:scale(1.37,1.5);
}

.d2-27, .d3-27, .d4-27, .d5-27, .d6-27, .d8-27, .d9-27{
	transform:scale(1.3,1.5);
	-webkit-transform:scale(1.3,1.5);
	-moz-transform:scale(1.3,1.5);
	-ms-transform:scale(1.3,1.5); 
	-o-transform:scale(1.3,1.5);
}

.d2-30, .d3-30, .d4-30, .d5-30, .d6-30, .d7-30, .d8-30, .d9-30{
	transform:scale(1.25,1.5);
	-webkit-transform:scale(1.25,1.5);
	-moz-transform:scale(1.25,1.5);
	-ms-transform:scale(1.25,1.5); 
	-o-transform:scale(1.25,1.5);
}

.d2-31, .d3-31, .d4-31, .d5-31, .d6-31, .d7-31, .d8-31, .d9-31{
	transform:scale(1.34,1.5);
	-webkit-transform:scale(1.34,1.5);
	-moz-transform:scale(1.34,1.5);
	-ms-transform:scale(1.34,1.5); 
	-o-transform:scale(1.34,1.5);
}